.room {
    height: 128px;
    width: 128px;
 display: inline-block;
 
 
 border-color: red;
 border-width: 2px;
 border-style: solid;
}

.row {
    display: block;
}

.open-1 {
    border-top-color: white;
    border-bottom-color: red;
    border-right-color: red;
    border-left-color: red;
}

.open-2 {
    border-top-color: red;
    border-right-color: white;
    border-bottom-color: red;
    border-left-color: red;
}

.open-3 {
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: red;
    border-left-color: red;
}

.open-4 {
    border-top-color: red;
    border-right-color: red;
    border-bottom-color: white;
    border-left-color: red;
}
.open-5 {
    border-top-color: white;
    border-right-color: red;
    border-bottom-color: white;
    border-left-color: red;
}
.open-6 {
    border-top-color: red;
    border-right-color: white;
    border-bottom-color: white;
    border-left-color: red;
}

.open-7 {
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: white;
    border-left-color: red;
}

.open-8 {
    border-top-color: red;
    border-right-color: red;
    border-bottom-color: red;
    border-left-color: white;
}
.open-9 {
    border-top-color: white;
    border-right-color: red;
    border-bottom-color: red;
    border-left-color: white;
}
.open-10 {
    border-top-color: red;
    border-right-color: white;
    border-bottom-color: red;
    border-left-color: white;
}
.open-11 {
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: red;
    border-left-color: white;
}
.open-12 {
    border-top-color: red;
    border-right-color: red;
    border-bottom-color: white;
    border-left-color: white;
}
.open-13 {
    border-top-color: white;
    border-right-color: red;
    border-bottom-color: white;
    border-left-color: white;
}
.open-14 {
    border-top-color: red;
    border-right-color: white;
    border-bottom-color: white;
    border-left-color: white;
}
.open-15 {
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: white;
    border-left-color: white;
}

.roomImage {
    height: 128px;
    width: 128px
}