doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" type="text/css" href="../stylesheets/dungeon.css")
    link(rel="stylesheet" type="text/css" href="../stylesheets/form.css")
  body      
    h1 Kid Icarus Randomizer 
      img(src="eggplanted.png")  
    block content
  footer  
    .footer  
      h3 About this:
      p Made by Rumbleminze and fruitbatsalad with playtesting by AISnake and Maniacal42.  Thank you to Kipp for hosting the discord discussion about this randomizer.
      p Special shout out to David S from the now retired dabit site where a ton of information about the Kid Icarus rom came from.  Without that work this wouldn't have been possible (or at least not nearly as easy).
      p 
        | (For nerds only: we're also making a Kid Icarus 
        a(href='ki-rom-map.txt') rom map
        | )
      p Useful tools for working on this randomizer: 
        ul
          li 
            a(href='/tools/testfit') See how screens fit together in each of the scrolling world
          li
            a(href='/tools/fortress-room/') Create custom fortress room layouts
          li 
            a(href='/tools/fortress-enemies/') Check enemy spawn fit for fortress rooms
          li
            a(href="/generate-maps-only") Click here if you just want to generate spoiler images without an actual NES file
