doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" type="text/css" href="../stylesheets/dungeon.css")
  body
    block content
  footer    
    h3 About this
      p Made by Rumbleminze and fruitbatsalad with playtesting by AngryIrishSnake and Maniacal42, make sure you save or get a password because you can softlock.  Although all dungeons are completable without wall clipping or other bug abuse
      p Special shout out to David S from the now defunct dabit site where a ton of information about the Kid Icarus rom came from.  Without that work this wouldn't have been possible (or at least not nearly as easy)

