doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" type="text/css" href="../stylesheets/dungeon.css")
  body      
    h1 Kid Icarus Randomizer 
      img(src="eggplanted.png")  
    block content
  footer    
    h3 About this:
      p Made by Rumbleminze and fruitbatsalad with playtesting by AngryIrishSnake and Maniacal42.  Thank you to Kipp for hosting the discord discussion about this randomizer.
      p Special shout out to David S from the now defunct dabit site where a ton of information about the Kid Icarus rom came from.  Without that work this wouldn't have been possible (or at least not nearly as easy).
      p 
        | (For nerds only: we're also making a Kid Icarus 
        a(href='ki-rom-map.txt') rom map
        | )
