extends layout

block content
  h1= title
  p Welcome to #{title} Kid Icarus Randomizer.  Click here to get a new seed:
    a(href='generate-seed') new seed      
  p About this
    p Made by Rumbleminze, make sure you save or get a password because you can softlock.  Although all dungeons are completable without wall clipping or other bug abuse
