extends layout

block content
  h1= title
  h2 Welcome to #{title} Kid Icarus Randomizer.  Click here to get a new seed:
  p 
    if(hasRom)
      p
        a(href='generate-seed') new seed   
      p
        a(href='generate-seed?skipSpoilers=true') new seed without spoilers (for racing)
    else
      form(action="./upload-rom-for-patch" method="POST" encType="multipart/form-data")
        input(type='file' name='rom') 
        input(type='submit' name='submit' value='upload') 

  h3 About this
    p Made by Rumbleminze in collaboration with FruitBatSalad and playtesting by AngryIrishSnake, make sure you save or get a password because you can softlock.  Although all dungeons are completable without wall clipping or other bug abuse
